.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    height: 100%;
    width: 100%;
  }
  
  .body .div-modal{
    margin-top: 3%;
    flex-basis: 100%;
    height: 100px;
    flex-grow: 2;
    text-align: center;
    
  }
  